@use '../../shared/styles/page-layout' as page;

.page {
  @include page.page-base;

  .page-header { @include page.page-header; }
  .filters { @include page.filters; }
  .table-wrapper { @include page.table-wrapper; }

  .actions-col {
    white-space: nowrap;
  }

}
.loading { display: flex; justify-content: center; padding: 16px 0; }
