<div class="page">
  <div class="page-header">
    <h1>Driver dashboard</h1>
  </div>


  <mat-tab-group animationDuration="200ms" class="tabs">
    <mat-tab label="My transports">
      <div class="tab-body">
        <app-driver-transports></app-driver-transports>
      </div>
    </mat-tab>

    <mat-tab label="My cargo">
      <div class="tab-body">
        <app-my-cargo></app-my-cargo>
      </div>
    </mat-tab>

    <mat-tab label="My timeline">
      <div class="tab-body">
        <app-my-timeline></app-my-timeline>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
