<h2>Edit location #{{ data.location.id }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Building number</mat-label>
    <input matInput formControlName="buildingNumber" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Postcode</mat-label>
    <input matInput formControlName="postcode" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Latitude</mat-label>
    <input matInput type="number" formControlName="latitude" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Longitude</mat-label>
    <input matInput type="number" formControlName="longitude" />
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button type="button" (click)="close()" [disabled]="saving">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="saving">
      Save
    </button>
  </div>
</form>
