.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  mat-form-field { width: 100%; }

  .actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: .5rem;
  }
}
