@use '../../shared/styles/page-layout' as page;

.page {
  @include page.page-base;

  .page-header { @include page.page-header; }
  .filters { @include page.filters; }

  .table-wrapper { @include page.table-wrapper; }

}

.loading { display: flex; justify-content: center; padding: 16px 0; }
.muted { opacity: .7; font-size: 12px; }


